<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= @player_name %>
    <form action="result" method="post">
      name: <<input type="text" name="move">
      <<input type="submit" value="Make_move">
    </form>
  </body>
</html>
